// App
:root .light-theme {
  --color-primary: #41b883;
  --color-primary-light: #56d49c;
  --color-primary-dark: #359d6e;
  --color-primary-darker: #2f8d62;

  --color-hover-bg: inherit;
  --color-hover-text: var(--color-primary-dark);

  --color-selection-bg: var(--color-primary);
  --color-selection-text: white;
}

// Bootstrap
[data-bs-theme="light"] {
  * {
    --bs-nav-pills-link-active-bg: var(--color-selection-bg);
    --bs-dropdown-link-active-bg: var(--color-selection-bg);
    --bs-link-color: var(--color-selection-bg);
    --bs-nav-link-hover-color: var(--color-hover-text);
    --bs-form-control-bg: var(--vt-c-black);
  }

  .btn-outline-primary {
    --bs-btn-color: var(--color-primary);
    --bs-btn-border-color: var(--color-primary);
    --bs-btn-hover-bg: var(--color-primary);
    --bs-btn-hover-border-color: var(--color-primary);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-primary);
    --bs-btn-active-border-color: var(--color-primary);
  }
  .btn-primary {
    --bs-btn-bg: var(--color-primary);
    --bs-btn-border-color: var(--color-primary-dark);
    --bs-btn-hover-bg: var(--color-primary-dark);
    --bs-btn-hover-border-color: var(--color-primary-dark);
    --bs-btn-active-bg: var(--color-primary-darker);
    --bs-btn-active-border-color: var(--color-primary-darker);
  }
}
